
.gitLogo{
    height: 45px;
    width: 45px;
    margin-bottom: 20px;
    
    
  

}
.description {
    
    margin-bottom: 20px;
    text-align: left;
}

.projectName{
   
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
    
}