/*.container{
display: 'flex';
flex-direction: row;
flex-wrap: wrap;

}
.details{
    
}*/

.gitLogo{
    height: 30px;
    width: 30px;
       
}
.description {
    
    margin-top: 30px;
    
}

.projectName{
   
    font-size: 25px;
    
}