.cv{color: #40514E;
    margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"Merriweather", serif; 
  }
  
  .heading1{margin: 50px auto 0 auto;
    font-family:"Sacramento", cursif;
    font-size: 5.625rem;
    color: #66BFBF;
  }
  .heading2{color: #66BFBF;
    font-family:"Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
  }
  .heading3{font-family:"Montserrat", sans-serif;
  color:  #11999E;}
  


  para {line-height: 2;}
  
  .ruler{
  border-top: 10px dotted #EAF6F6;
  width: 40%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 30%;
  margin-right: 20%;

}
  
.profilepic{height: 150px;
  width: 150px;}
  
  
  .middleContainer{color: white;}
  
 .SkillImage{border-radius: 50%;
    float: left;
  width: 25%;
  margin-right: 30px;}
  
  .skillImage1{
    border-radius: 50%;
    float: right;
    width: 25%;
    margin-left: 30px;
  
  }
  
  .skillRow{margin: auto 400px 100px 400px;
    text-align: left;}
   
  .profile{margin: 50px auto 50px auto;
    width: 40%;
  }
  
  

  
 