.date{
color: #fff;    
font-size: 3rem;
//margin-left: 5%;
line-height: 1;
margin-top: 15px;
margin-bottom: 0%;
}
.time{color: #fff;    
    font-size: 2rem;
    //margin-left: 5%;
    margin-top: 0%;}