* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .contact{color: rgb(27, 96, 111);
  font-size: 3.5rem;
margin-top: 100px;}
.form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form > h1 {
    margin-bottom: 30px;
  }
  
  .form > input,
  textarea {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    background: #fff;
    font-size: 16px;
    color: rgb(27, 96, 111);
    outline: none;
    width: 400px;
    
  }
  
  .form > input:focus,
  textarea:focus {
    border: 1px solid rgb(0, 0, 196);
  }
  
  .form > textarea {
    height: 150px;
    max-width: 400px;
    min-height: 100px;
  }
  
  .form > label {
    padding-bottom: 10px;
    color: rgb(194, 237, 247);
    font-weight: bold;
  }
  
  

  .form > button{
    font-size: 16px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    background-color: #11cf90;
    color: black;
    margin-bottom: 30px;
    width: 12rem;
    padding: 12px 25px;
    position: relative;
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 1s;
    cursor: pointer;
  }
  .form > button:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eeff00;
    transform: scaleX(0);
    transition: 300ms ease-out;
  }
  .form > button:hover:before{
    transform: scaleX(1);
  }
  @media screen and (max-width: 1100px){
    .contact{font-size: 2.5rem;}
   .form > input,
  textarea {
    width: 300px; 
  }
  .form > textarea { 
    max-width: 300px;  
  }
 }

  @media screen and (max-width: 800px){
    .contact{font-size: 2.5rem;}

      .form > input,
  textarea {
    width: 250px; 
  }

  .form > textarea {
    max-width: 250px;
  }
}
@media screen and (max-width: 600px){
  .contact{font-size: 2.5rem;}

    .form > input,
textarea {width: 300px;}

.form > textarea {max-width: 300px;}
}