.container{
background-color: aquamarine;
align-items: center;
margin-left: 30%;
margin-right: 30%;
align-items: center;
justify-content: center;}

p {align-items: center;
justify-content: center;
align-content: center;

}